

.actiontype {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 8px 16px;
}

.actiontype:hover{
    background-color: #F7F9FC;
}
.actiontype span {
    font-size: 16px;
    line-height: 24px;
}

.actiontype img {
    width: 24px !important;
    height: 24px;
}

 .delete {
    color: #A31B00;
}